<template>
  <div>
    <back-button :to="{ name: 'myGroups' }"></back-button>
    <h1 class="text-center">Nieuwe groep</h1>
    <group-form class="pt-3" @submit="onAddGroup"></group-form>
  </div>
</template>

<script setup>
import { useNotification } from '@kyvg/vue3-notification';
import { useRouter } from 'vue-router';

import BackButton from '../../components/BackButton.vue';
import GroupForm from '../../components/forms/GroupForm.vue';
import { axios } from '../../services/http';

const router = useRouter();
const { notify } = useNotification();

const onAddGroup = (group) => {
  axios.post('/groups', group).then((res) => {
    const group = res.data.data;
    router
      .push({ name: 'group', params: { groupId: group.id, groupName: group.name } })
      .then(() => {
        notify({
          group: 'default',
          type: 'success',
          title: 'Groep aangemaakt',
          text: group.name
        });
      });
  });
};
</script>
