<template>
  <div>
    <back-button :to="{ name: 'group', params: { groupId, groupName } }"></back-button>
    <h1 class="text-center">Groep bewerken</h1>
    <group-form
      class="pt-3"
      :_group="group"
      v-if="group && users.length > 0"
      @submit="onEditGroup"
    ></group-form>
  </div>
</template>

<script setup>
import { useNotification } from '@kyvg/vue3-notification';
import { computed, ref, watch } from 'vue';
import { useRouter } from 'vue-router';

import BackButton from '../../components/BackButton.vue';
import GroupForm from '../../components/forms/GroupForm.vue';
import { axios } from '../../services/http';
import { useStore } from '../../store';

// TODO: check if the group can be passed from Group.vue to prevent fetching the group again.

const props = defineProps({
  groupId: {
    type: [String, Number],
    required: true
  },
  groupName: {
    type: String,
    required: true
  }
});

const store = useStore();
const router = useRouter();
const { notify } = useNotification();

const users = computed(() => store.users);

const group = ref(null);

watch(
  () => store.tokenReady,
  (val) => {
    if (val) {
      fetchGroup();
    }
  }
);

const fetchGroup = () => {
  axios
    .get(`/groups/${props.groupId}`)
    .then((res) => {
      group.value = res.data.data;
    })
    .catch(() => {
      router.push({ name: 'myGroups' }).then(() => {
        notify({
          group: 'default',
          type: 'error',
          title: 'Onbekende groep'
        });
      });
    });
};

const onEditGroup = (group) => {
  axios.put(`/groups/${props.groupId}`, group).then((res) => {
    const group = res.data.data;
    router
      .push({ name: 'group', params: { groupId: group.id, groupName: group.name } })
      .then(() => {
        notify({
          group: 'default',
          type: 'success',
          title: 'Groep gewijzigd',
          text: group.name
        });
      });
  });
};

if (store.tokenReady) {
  fetchGroup();
}
</script>
