<template>
  <div v-if="group">
    <back-button :to="{ name: 'myGroups' }"></back-button>

    <h1 class="text-center">{{ group.name }}</h1>

    <div class="row pt-3">
      <div class="col-md-4 col-12">
        <div class="row justify-content-center justify-content-sm-start" v-if="isAdmin">
          <div class="col-auto">
            <ul class="action-section">
              <li>
                <router-link
                  :to="{
                    name: 'addEvent',
                    params: { groupId: group.id, groupName: nameToUrl(group.name) }
                  }"
                >
                  <i class="material-icons inline-icon pr-1">add</i>
                  <span>Evenement toevoegen</span>
                </router-link>
              </li>
              <li>
                <router-link
                  :to="{
                    name: 'editGroup',
                    params: { groupId: group.id, groupName: nameToUrl(group.name) }
                  }"
                >
                  <i class="material-icons inline-icon pr-1">edit</i>
                  <span>Groep bewerken</span>
                </router-link>
              </li>
              <li>
                <div class="btn-link pointer" @click="showDeleteModal = true">
                  <i class="material-icons inline-icon pr-1">delete</i>
                  <span>Groep verwijderen</span>
                </div>
              </li>
              <hr />
              <li>
                <div class="btn-link pointer" @click="$refs.inputUpload.click()">
                  <i class="material-icons inline-icon pr-1">add_photo_alternate</i>
                  <span>Afbeelding uploaden</span>
                </div>
                <input
                  class="d-none"
                  ref="inputUpload"
                  type="file"
                  accept="image/jpeg, image/png, image/gif"
                  @change="uploadImage"
                />
              </li>
              <li v-if="group.image_url">
                <div class="btn-link pointer" @click="deleteImage">
                  <i class="material-icons inline-icon pr-1">hide_image</i>
                  <span>Afbeelding verwijderen</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="row justify-content-center justify-content-sm-start pt-2">
          <div class="members">
            <div class="col-12 pb-3" v-for="(member, index) in groupMembers" :key="index">
              <chip
                v-if="member"
                :text="`${member.firstname} ${member.lastname}`"
                :image-url="profilePicture(member.imageURL)"
              ></chip>
              <chip v-else text="Unknown user"></chip>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-12 order-first order-md-1">
        <h2 class="text-center">Evenementen</h2>
        <div class="row">
          <div class="col-md-6 col-12 pb-4" v-for="(event, index) in group.events" :key="index">
            <router-link
              :to="{
                name: 'event',
                params: {
                  groupId: groupId,
                  groupName: groupName,
                  eventId: event.id,
                  eventName: nameToUrl(event.name)
                }
              }"
            >
              <div class="card h-100">
                <img class="card-img-top" :src="eventImage(event)" alt="Event image" />
                <div class="card-body">
                  <h5 class="card-title text-center">
                    <span class="chocolate-letters">
                      <span v-for="(letter, index) in event.name" :key="index">{{ letter }}</span>
                    </span>
                  </h5>
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <confirm-modal
      :show="showDeleteModal"
      @cancel="showDeleteModal = false"
      @confirm="onDeleteGroup"
    >
      <template v-slot:body>
        Weet je zeker dat je de groep '{{ group.name }}' wil verwijderen?
      </template>
    </confirm-modal>
  </div>
</template>

<script setup>
import { useNotification } from '@kyvg/vue3-notification';
import { computed, ref, watch } from 'vue';
import { useRouter } from 'vue-router';

import BackButton from '../../components/BackButton.vue';
import Chip from '../../components/Chip.vue';
import ConfirmModal from '../../components/modals/ConfirmModal.vue';
import config from '../../config';
import { axios } from '../../services/http';
import { useStore } from '../../store';
import { nameToUrl } from '../../util';

const props = defineProps({
  groupId: {
    type: [String, Number],
    required: true
  },
  groupName: {
    type: String,
    required: true
  }
});

const store = useStore();
const router = useRouter();
const { notify } = useNotification();

const group = ref(null);
const showDeleteModal = ref(false);

const isAdmin = computed(
  () => group.value.members.find((m) => m.user_uuid === store.user.uuid).is_admin
);

const groupMembers = computed(() =>
  group.value.members
    .map((m) => store.users.find((o) => o.uuid === m.user_uuid))
    .sort((a, b) => {
      if (a && !b) {
        return 1;
      }

      if (!a && b) {
        return -1;
      }

      if (!a && !b) {
        return 0;
      }

      const a_name = `${a.firstname} ${a.lastname}`;
      const b_name = `${b.firstname} ${b.lastname}`;

      if (a_name > b_name) {
        return 1;
      }

      if (a_name < b_name) {
        return -1;
      }
      return 0;
    })
);

watch(
  () => store.tokenReady,
  (val) => {
    if (val) {
      fetchGroup();
    }
  }
);

const fetchGroup = () => {
  axios
    .get(`/groups/${props.groupId}`)
    .then((res) => {
      group.value = res.data.data;
    })
    .catch(() => {
      router.push({ name: 'myGroups' }).then(() => {
        notify({
          group: 'default',
          type: 'error',
          title: 'Onbekende groep'
        });
      });
    });
};

const profilePicture = (imageUrl) => (imageUrl ? `${config.ssoBackendUrl}${imageUrl}` : null);

const onDeleteGroup = () => {
  axios.delete(`/groups/${props.groupId}`).then(() => {
    router.push({ name: 'myGroups' }).then(() => {
      notify({
        group: 'default',
        type: 'success',
        title: 'Groep verwijderd',
        text: group.value.name
      });
    });
  });
};

const uploadImage = (e) => {
  const file = e.target.files[0];
  if (!file) {
    notify({
      group: 'default',
      type: 'error',
      title: 'Selecteer een afbeelding'
    });
    return;
  }

  const data = new FormData();
  data.append('image', file, file.name);
  axios
    .post(`/groups/${props.groupId}/image`, data)
    .then((res) => {
      group.value.image_url = res.data.data.image_url;
      notify({
        group: 'default',
        type: 'success',
        title: 'Afbeelding geüploaded'
      });
    })
    .catch((err) => {
      notify({
        group: 'default',
        type: 'error',
        title: 'De afbeelding kon niet geüpload worden',
        text: err.response.data.message
      });
    });
};

const deleteImage = () => {
  axios
    .delete(`/groups/${props.groupId}/image`)
    .then(() => {
      notify({
        group: 'default',
        type: 'success',
        title: 'Afbeelding verwijderd'
      });
      group.value.image_url = null;
    })
    .catch((err) => {
      notify({
        group: 'default',
        type: 'error',
        title: 'De afbeelding kon niet verwijderd worden',
        text: err.response.data.message
      });
    });
};

const eventImage = (event) => event.image_url || '/images/group-default.jpg';

if (store.tokenReady) {
  fetchGroup();
}
</script>
