<template>
  <div class="pb-3">
    <back-button
      :to="{ name: 'event', params: { groupId, groupName, eventId, eventName } }"
    ></back-button>
    <h1 class="text-center">Nieuw verlanglijstje</h1>
    <wishlist-form class="pt-3" @submit="onAddWishlist"></wishlist-form>
  </div>
</template>

<script setup>
import { useNotification } from '@kyvg/vue3-notification';
import { useRouter } from 'vue-router';

import BackButton from '../../components/BackButton.vue';
import WishlistForm from '../../components/forms/WishlistForm.vue';
import { axios } from '../../services/http';

const props = defineProps({
  groupId: {
    type: [String, Number],
    required: true
  },
  groupName: {
    type: String,
    required: true
  },
  eventId: {
    type: [String, Number],
    required: true
  },
  eventName: {
    type: String,
    required: true
  }
});

const router = useRouter();
const { notify } = useNotification();

const onAddWishlist = (wishlist) => {
  axios.post(`/groups/${props.groupId}/events/${props.eventId}/wishlists`, wishlist).then(() => {
    router
      .push({
        name: 'event',
        params: {
          groupId: props.groupId,
          groupName: props.groupName,
          eventId: props.eventId,
          eventName: props.eventName
        }
      })
      .then(() => {
        notify({
          group: 'default',
          type: 'success',
          title: 'Verlanglijstje aangemaakt'
        });
      });
  });
};
</script>
