<template>
  <div class="pb-3">
    <back-button
      :to="{ name: 'event', params: { groupId, groupName, eventId, eventName } }"
    ></back-button>
    <h1 class="text-center">Bewerk verlanglijstje</h1>
    <wishlist-form
      class="pt-3"
      :_wishlist="wishlist"
      v-if="wishlist"
      @submit="onEditWishlist"
    ></wishlist-form>
  </div>
</template>

<script setup>
import { useNotification } from '@kyvg/vue3-notification';
import { ref, watch } from 'vue';
import { useRouter } from 'vue-router';

import BackButton from '../../components/BackButton.vue';
import WishlistForm from '../../components/forms/WishlistForm.vue';
import { axios } from '../../services/http';
import { useStore } from '../../store';

const props = defineProps({
  groupId: {
    type: [String, Number],
    required: true
  },
  groupName: {
    type: String,
    required: true
  },
  eventId: {
    type: [String, Number],
    required: true
  },
  eventName: {
    type: String,
    required: true
  },
  wishlistId: {
    type: [String, Number],
    required: true
  }
});

const store = useStore();
const router = useRouter();
const { notify } = useNotification();

const wishlist = ref(null);

watch(
  () => store.tokenReady,
  (val) => {
    if (val) {
      fetchWishlist();
    }
  }
);

const fetchWishlist = () => {
  axios
    .get(`/groups/${props.groupId}/events/${props.eventId}/wishlists/${props.wishlistId}`)
    .then((res) => {
      wishlist.value = res.data.data;
    })
    .catch(() => {
      router
        .push({
          name: 'event',
          params: {
            groupId: props.groupId,
            groupName: props.groupName,
            eventId: props.eventId,
            eventName: props.eventName
          }
        })
        .then(() => {
          notify({
            group: 'default',
            type: 'error',
            title: 'Onbekend verlanglijstje'
          });
        });
    });
};

const onEditWishlist = (wishlist) => {
  axios
    .put(`/groups/${props.groupId}/events/${props.eventId}/wishlists/${props.wishlistId}`, wishlist)
    .then(() => {
      router
        .push({
          name: 'event',
          params: {
            groupId: props.groupId,
            groupName: props.groupName,
            eventId: props.eventId,
            eventName: props.eventName
          }
        })
        .then(() => {
          notify({
            group: 'default',
            type: 'success',
            title: 'Verlanglijsje gewijzigd'
          });
        });
    });
};

if (store.tokenReady) {
  fetchWishlist();
}
</script>
