<template>
  <transition name="modal">
    <div class="x-modal-mask">
      <div class="x-modal-wrapper">
        <div class="x-modal-container">
          <div class="x-modal-close-button-wrapper">
            <button
              type="button"
              class="close x-modal-close-button"
              data-dismiss="modal"
              aria-label="Close"
              @click="onClose"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <vue-advanced-chat
            ref="chat"
            .rooms="rooms"
            .messages="messages"
            .username-options="usernameOptions"
            current-user-id="0"
            :show-add-room="false"
            :show-files="false"
            :show-audio="false"
            :show-search="false"
            :show-reaction-emojis="false"
            :show-emojis="false"
            :messages-loaded="messagesLoaded"
            rooms-loaded
            single-room
            @send-message="onSend"
          ></vue-advanced-chat>
        </div>
      </div>
    </div>
  </transition>
</template>

<script setup>
import { computed, onMounted, onUnmounted, ref } from 'vue';
import { register } from 'vue-advanced-chat';

import { useStore } from '../../store';

register();

const props = defineProps({
  loadMessagesFn: {
    type: Function,
    required: true
  },
  sendMessageFn: {
    type: Function,
    required: true
  },
  otherParty: {
    type: String,
    required: true
  },
  unreadCount: {
    type: Number,
    required: false,
    default: () => 0
  }
});

const emit = defineEmits(['close']);

const store = useStore();

const user = computed(() => store.user);

const myselfUsername = computed(() => {
  let name = `${user.value.firstname} ${user.value.lastname}`;
  if (!isOtherAnonymous.value) {
    name += ' (Anoniem)';
  }
  return name;
});

const usernameOptions = {
  minUsers: 2,
  currentUser: true
};

const messages = ref([]);
const messagesLoaded = ref(false);

const loadMessages = () => {
  messagesLoaded.value = false;
  props.loadMessagesFn().then((_messages) => {
    messages.value = _messages.map((m) => {
      const myself = Boolean(isOtherAnonymous.value ^ m.from_anonymous);
      const date = new Date(m.sent_at * 1000);
      return {
        _id: m.id.toString(),
        indexId: m.sent_at,
        content: m.content,
        senderId: myself ? '0' : '1',
        username: myself ? myselfUsername.value : props.otherParty,
        date: date.toLocaleDateString(),
        timestamp: `${date.getHours()}:${date.getMinutes()}`,
        saved: true,
        distributed: true,
        seen: !!m.read_at,
        deleted: false,
        failure: false,
        disableActions: true,
        disableReactions: true
      };
    });
    messagesLoaded.value = true;
  });
};
loadMessages();

const rooms = computed(() => [
  {
    roomId: '1',
    roomName: isOtherAnonymous.value
      ? 'Chat over mijn lootje'
      : 'Chat over mijn getrokken lootje (Anoniem)',
    unreadCount: props.unreadCount,
    users: [
      {
        _id: '0',
        username: myselfUsername.value
      },
      {
        _id: '1',
        username: props.otherParty
      }
    ]
  }
]);

const isOtherAnonymous = computed(() => props.otherParty === 'Anoniem');

const onSend = (message) => {
  props.sendMessageFn(message.detail[0].content).then(() => loadMessages());
};

const onClose = () => {
  emit('close');
};

const chat = ref(null);

onMounted(() => {
  const style = document.createElement('style');
  style.textContent = '.vac-col-messages { border-radius: 10px; }';
  chat.value.shadowRoot.appendChild(style);

  document.body.classList.add('x-modal-open');
});

onUnmounted(() => {
  document.body.classList.remove('x-modal-open');
});
</script>

<style lang="scss" scoped>
.x-modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;

  .x-modal-wrapper {
    display: table-cell;
    vertical-align: middle;

    .x-modal-container {
      width: 90%;
      max-width: 500px;
      max-height: calc(0.95 * var(--app-height));
      margin: 1rem auto;
      transition: all 0.3s ease;
      font-family: Helvetica, Arial, sans-serif;
      display: flex;
      flex-flow: column;

      .x-modal-close-button-wrapper {
        position: relative;

        .x-modal-close-button {
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 9999;
        }
      }
    }
  }
}
</style>
