<template>
  <modal :show="show" @close="onCancel">
    <template v-slot:header>
      <h3>Weet je het zeker?</h3>
    </template>

    <template v-slot:body>
      <slot name="body"></slot>
    </template>

    <template v-slot:footer>
      <div class="btn btn-outline-primary" @click="onCancel">Annuleren</div>
      <div class="btn btn-primary float-right" @click="onConfirm">Bevestigen</div>
    </template>
  </modal>
</template>

<script setup>
import Modal from './Modal.vue';

defineProps({
  show: {
    type: Boolean,
    required: false,
    default: () => false
  }
});

const emit = defineEmits(['cancel', 'confirm']);

const onCancel = () => {
  emit('cancel');
};

const onConfirm = () => {
  emit('confirm');
};
</script>
