<template>
  <modal :show="show" @close="onClose" width="750px">
    <template v-slot:header>
      <h3>
        Je hebt het lootje van <b>{{ lotUser.firstname }} {{ lotUser.lastname }}</b> getrokken
      </h3>
    </template>

    <template v-slot:body>
      <wishlist :wishlist="lot.wishlist" v-if="lot.wishlist"></wishlist>
      <p v-else>Er is nog geen verlanglijstje gemaakt.</p>
    </template>

    <template v-slot:footer v-if="lot.wishlist">
      <div class="btn-link pointer pb-2" @click="onDownloadWishlist">
        <i class="material-icons inline-icon pr-1">file_download</i>
        <span>Verlanglijstje downloaden</span>
      </div>
    </template>
  </modal>
</template>

<script setup>
import { computed } from 'vue';

import { useStore } from '../../store';
import Wishlist from '../Wishlist.vue';
import Modal from './Modal.vue';

const props = defineProps({
  show: {
    type: Boolean,
    required: false,
    default: () => false
  },
  lot: {
    type: Object,
    required: true
  }
});

const emit = defineEmits(['close', 'downloadWishlist']);

const store = useStore();

const lotUser = computed(() => store.users.find((u) => u.uuid === props.lot.drawn_lot));

const onClose = () => {
  emit('close');
};

const onDownloadWishlist = () => {
  emit('downloadWishlist', props.lot.wishlist);
};
</script>
