<template>
  <transition name="modal" v-if="show">
    <div class="x-modal-mask">
      <div class="x-modal-wrapper">
        <div class="x-modal-container" :style="{ 'max-width': width }">
          <div class="x-modal-header">
            <button
              type="button"
              class="close x-modal-close"
              data-dismiss="modal"
              aria-label="Close"
              @click="onClose"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <slot name="header"></slot>
          </div>

          <div class="x-modal-body">
            <slot name="body"></slot>
          </div>

          <div class="x-modal-footer">
            <slot name="footer"></slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script setup>
import { onMounted, onUnmounted, watch } from 'vue';

const props = defineProps({
  show: {
    type: Boolean,
    required: false,
    default: () => false
  },
  width: {
    type: String,
    required: false,
    default: () => '500px'
  }
});

const emit = defineEmits(['close']);

watch(
  () => props.show,
  (val) => {
    if (val) {
      document.body.classList.add('x-modal-open');
    } else {
      document.body.classList.remove('x-modal-open');
    }
  }
);

const onClose = () => {
  emit('close');
};

onMounted(() => {
  if (props.show) {
    document.body.classList.add('x-modal-open');
  }
});

onUnmounted(() => {
  document.body.classList.remove('x-modal-open');
});
</script>

<style lang="scss" scoped>
.x-modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;

  .x-modal-wrapper {
    display: table-cell;
    vertical-align: middle;

    .x-modal-container {
      width: 90vw;
      max-height: calc(0.95 * var(--app-height));
      margin: 1rem auto;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      transition: all 0.3s ease;
      font-family: Helvetica, Arial, sans-serif;
      display: flex;
      flex-flow: column;

      .x-modal-header {
        flex: 0 1 auto;

        .x-modal-close {
          position: relative;
          right: 0;
          top: 0;
        }
      }

      .x-modal-body {
        margin: 20px 0;
        overflow-y: auto;
        flex: 1 1 auto;
      }

      .x-modal-footer {
        flex: 0 1 auto;
      }
    }
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
