<template>
  <modal :show="show" @close="onClose" width="750px">
    <template v-slot:header>
      <h3>Verlanglijstje van {{ wishlistUser.firstname }} {{ wishlistUser.lastname }}</h3>
    </template>

    <template v-slot:body>
      <wishlist :wishlist="wishlist"></wishlist>
    </template>

    <template v-slot:footer>
      <div class="btn-link pointer pb-2" @click="onDownloadWishlist">
        <i class="material-icons inline-icon pr-1">file_download</i>
        <span>Verlanglijstje downloaden</span>
      </div>
    </template>
  </modal>
</template>

<script setup>
import { computed } from 'vue';

import { useStore } from '../../store';
import Wishlist from '../Wishlist.vue';
import Modal from './Modal.vue';

const props = defineProps({
  wishlist: {
    type: Object,
    required: true
  },
  show: {
    type: Boolean,
    required: false,
    default: () => false
  }
});

const emit = defineEmits(['close', 'downloadWishlist']);

const store = useStore();

const wishlistUser = computed(() => store.users.find((u) => u.uuid === props.wishlist.user_uuid));

const onClose = () => {
  emit('close');
};

const onDownloadWishlist = () => {
  emit('downloadWishlist', props.wishlist);
};
</script>
