<template>
  <div>
    <back-button :to="{ name: 'group', params: { groupId, groupName } }"></back-button>
    <h1 class="text-center">Nieuw evenement</h1>
    <event-form class="pt-3" @submit="onAddEvent"></event-form>
  </div>
</template>

<script setup>
import { useNotification } from '@kyvg/vue3-notification';
import { useRouter } from 'vue-router';

import BackButton from '../../components/BackButton.vue';
import EventForm from '../../components/forms/EventForm.vue';
import { axios } from '../../services/http';
import { nameToUrl } from '../../util';

const props = defineProps({
  groupId: {
    type: [String, Number],
    required: true
  },
  groupName: {
    type: [String, Number],
    required: true
  }
});

const router = useRouter();

const { notify } = useNotification();

const onAddEvent = (event) => {
  axios.post(`/groups/${props.groupId}/events`, event).then((res) => {
    const event = res.data.data;
    router
      .push({
        name: 'event',
        params: {
          groupId: props.groupId,
          groupName: props.groupName,
          eventId: event.id,
          eventName: nameToUrl(event.name)
        }
      })
      .then(() => {
        notify({
          group: 'default',
          type: 'success',
          title: 'Evenement aangemaakt',
          text: event.name
        });
      });
  });
};
</script>
