<template>
  <div>
    <back-button
      :to="{ name: 'event', params: { groupId, groupName, eventId, eventName } }"
    ></back-button>
    <h1 class="text-center">Evenement bewerken</h1>
    <event-form class="pt-3" :_event="event" v-if="event" @submit="onEditEvent"></event-form>
  </div>
</template>

<script setup>
import { useNotification } from '@kyvg/vue3-notification';
import { ref, watch } from 'vue';
import { useRouter } from 'vue-router';

import BackButton from '../../components/BackButton.vue';
import EventForm from '../../components/forms/EventForm.vue';
import { axios } from '../../services/http';
import { useStore } from '../../store';
import { nameToUrl } from '../../util';

const props = defineProps({
  groupId: {
    type: [String, Number],
    required: true
  },
  groupName: {
    type: String,
    required: true
  },
  eventId: {
    type: [String, Number],
    required: true
  },
  eventName: {
    type: String,
    required: true
  }
});

const store = useStore();
const router = useRouter();
const { notify } = useNotification();

const event = ref(null);

watch(
  () => store.tokenReady,
  (val) => {
    if (val) {
      fetchEvent();
    }
  }
);

const fetchEvent = () => {
  axios
    .get(`/groups/${props.groupId}/events/${props.eventId}`)
    .then((res) => {
      event.value = res.data.data;
    })
    .catch(() => {
      router
        .push({
          name: 'group',
          params: {
            groupId: props.groupId,
            groupName: props.groupName
          }
        })
        .then(() => {
          notify({
            group: 'default',
            type: 'error',
            title: 'Onbekend evenement'
          });
        });
    });
};

const onEditEvent = (event) => {
  axios.put(`/groups/${props.groupId}/events/${props.eventId}`, event).then((res) => {
    const event = res.data.data;
    router
      .push({
        name: 'event',
        params: {
          groupId: props.groupId,
          groupName: props.groupName,
          eventId: event.id,
          eventName: nameToUrl(event.name)
        }
      })
      .then(() => {
        notify({
          group: 'default',
          type: 'success',
          title: 'Evenement gewijzigd',
          text: event.name
        });
      });
  });
};

if (store.tokenReady) {
  fetchEvent();
}
</script>
