<template>
  <div v-if="event">
    <back-button :to="{ name: 'group', params: { groupId, groupName } }"></back-button>

    <h1 class="text-center">{{ event.name }}</h1>

    <p class="text-center">{{ event.description }}</p>

    <div class="row pt-2">
      <div class="col-md col-12" v-if="isAdmin">
        <ul class="action-section">
          <li v-if="!event.drawn_at">
            <div
              class="btn-link pointer"
              :class="{ disabled: !canDrawLots }"
              @click="showDrawLotsModal = true"
            >
              <i class="material-icons inline-icon pr-1">confirmation_number</i>
              <span>Trek lootjes</span>
            </div>
          </li>
          <li>
            <router-link
              :to="{ name: 'editEvent', params: { groupId, groupName, eventId, eventName } }"
            >
              <i class="material-icons inline-icon pr-1">edit</i>
              <span>Evenement bewerken</span>
            </router-link>
          </li>
          <li>
            <div class="btn-link pointer" @click="showDeleteModal = true">
              <i class="material-icons inline-icon pr-1">delete</i>
              <span>Evenement verwijderen</span>
            </div>
          </li>
          <hr />
          <li>
            <div class="btn-link pointer" @click="$refs.inputUpload.click()">
              <i class="material-icons inline-icon pr-1">add_photo_alternate</i>
              <span>Afbeelding uploaden</span>
            </div>
            <input
              class="d-none"
              ref="inputUpload"
              type="file"
              accept="image/jpeg, image/png, image/gif"
              @change="uploadImage"
            />
          </li>
          <li v-if="event.image_url">
            <div class="btn-link pointer" @click="deleteImage">
              <i class="material-icons inline-icon pr-1">hide_image</i>
              <span>Afbeelding verwijderen</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md col-12">
        <ul class="action-section">
          <li v-if="event.drawn_at">
            <div class="btn btn-primary px-1" @click="showDrawnLot">
              <i class="material-icons inline-icon pr-1">local_activity</i>
              <span>Bekijk getrokken lootje</span>
            </div>
          </li>
          <li v-if="!wishlistOf(user.uuid)">
            <router-link
              :to="{ name: 'addWishlist', params: { groupId, groupName, eventId, eventName } }"
            >
              <i class="material-icons inline-icon pr-1">add</i>
              <span>Verlanglijstje aanmaken</span>
            </router-link>
          </li>
          <li v-else>
            <router-link
              :to="{
                name: 'editWishlist',
                params: {
                  groupId,
                  groupName,
                  eventId,
                  eventName,
                  wishlistId: wishlistOf(user.uuid).id
                }
              }"
            >
              <i class="material-icons inline-icon pr-1">edit</i>
              <span>Verlanglijstje bewerken</span>
            </router-link>
          </li>
        </ul>
      </div>
      <div class="col-md col-12">
        <ul class="action-section wishlists">
          Verlanglijstjes
          <li v-for="(participant, index) in eventParticipants" :key="index">
            <div
              class="btn-link"
              :class="[wishlistOf(participant.uuid) ? 'pointer' : 'disabled']"
              @click="showWishlistOf(participant.uuid)"
            >
              <span v-if="participant">{{ participant.firstname }} {{ participant.lastname }}</span>
              <span v-else>Unknown user</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md col-12" v-if="event.drawn_at">
        <ul class="action-section messages">
          Berichten
          <li>
            <div class="notification-badge-wrapper">
              <span class="notification-badge badge badge-pill badge-primary">{{
                unreadMyLotMessagesCount
              }}</span>
            </div>
            <div class="btn-link pointer" @click="onShowMyLotMessages">
              <i class="material-icons inline-icon px-1">message</i>
              <span>Over mijn lootje</span>
            </div>
          </li>
          <li>
            <div class="notification-badge-wrapper">
              <span class="notification-badge badge badge-pill badge-primary">{{
                unreadDrawnLotMessagesCount
              }}</span>
            </div>
            <div class="btn-link pointer" @click="onShowDrawnLotMessages">
              <i class="material-icons inline-icon px-1">comment</i>
              <span>Over mijn getrokken lootje</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <confirm-modal
      :show="showDeleteModal"
      @cancel="showDeleteModal = false"
      @confirm="onDeleteEvent"
    >
      <template v-slot:body>
        Weet je zeker dat je het evenement '{{ event.name }}' wil verwijderen?
      </template>
    </confirm-modal>

    <confirm-modal
      :show="showDrawLotsModal"
      @cancel="showDrawLotsModal = false"
      @confirm="drawLots"
    >
      <template v-slot:body>
        Weet je zeker dat je de lootjes voor het evenement '{{ event.name }}' wil trekken?
      </template>
    </confirm-modal>

    <wishlist-modal
      v-if="selectedWishlist"
      :show="!!selectedWishlist"
      :wishlist="selectedWishlist"
      @close="selectedWishlist = null"
      @downloadWishlist="downloadWishlist"
    ></wishlist-modal>

    <drawn-lot-modal
      v-if="drawnLot"
      :show="!!drawnLot"
      :lot="drawnLot"
      @close="drawnLot = null"
      @downloadWishlist="downloadWishlist"
    ></drawn-lot-modal>

    <chat-modal
      v-if="showMyLotMessages"
      :load-messages-fn="fetchMyLotMessages"
      :send-message-fn="onSendMessageMyLot"
      other-party="Anoniem"
      @close="showMyLotMessages = false"
    ></chat-modal>
    <chat-modal
      v-if="showDrawnLotMessages"
      :load-messages-fn="fetchDrawnLotMessages"
      :send-message-fn="onSendMessageDrawnLot"
      :other-party="drawnLotOtherParty"
      @close="showDrawnLotMessages = false"
    ></chat-modal>
  </div>
</template>

<script setup>
import { useNotification } from '@kyvg/vue3-notification';
import { computed, ref, watch } from 'vue';
import { useRouter } from 'vue-router';

import BackButton from '../../components/BackButton.vue';
import ChatModal from '../../components/modals/ChatModal.vue';
import ConfirmModal from '../../components/modals/ConfirmModal.vue';
import DrawnLotModal from '../../components/modals/DrawnLotModal.vue';
import WishlistModal from '../../components/modals/WishlistModal.vue';
import { axios } from '../../services/http';
import { useStore } from '../../store';

const props = defineProps({
  groupId: {
    type: [String, Number],
    required: true
  },
  groupName: {
    type: String,
    required: true
  },
  eventId: {
    type: [String, Number],
    required: true
  },
  eventName: {
    type: String,
    required: true
  }
});

const store = useStore();
const router = useRouter();
const { notify } = useNotification();

const event = ref(null);
const showDeleteModal = ref(false);
const selectedWishlist = ref(null);
const drawnLot = ref(null);
const showDrawLotsModal = ref(false);
const showMyLotMessages = ref(false);
const showDrawnLotMessages = ref(false);
const drawnLotOtherParty = ref(null);
const unreadMyLotMessagesCount = ref(0);
const unreadDrawnLotMessagesCount = ref(0);

const user = computed(() => store.user);

const isAdmin = computed(
  () =>
    user.value && event.value.group.members.find((m) => m.user_uuid === user.value.uuid).is_admin
);

const eventParticipants = computed(() =>
  event.value.participants
    .map((user_uuid) => {
      const user = store.users.find((u) => u.uuid === user_uuid);
      return user ? { unknown: false, ...user } : { unknown: true, uuid: user_uuid };
    })
    .sort((a, b) => {
      if (a.unknown && b.unknown) {
        return 0;
      }

      if (a.unknown) {
        return -1;
      }

      if (b.unknown) {
        return 1;
      }

      const a_name = `${a.firstname} ${a.lastname}`;
      const b_name = `${b.firstname} ${b.lastname}`;

      if (a_name > b_name) {
        return 1;
      }

      if (a_name < b_name) {
        return -1;
      }
      return 0;
    })
);

const canDrawLots = computed(() => event.value.participants.length > 2);

watch(
  () => store.tokenReady,
  (val) => {
    if (val) {
      fetchEvent().then(() => {
        if (event.value.drawn_at) {
          fetchUnreadMyLotMessagesCount();
          fetchUnreadDrawnLotMessagesCount();
        }
      });
    }
  }
);

const fetchEvent = () =>
  axios
    .get(`/groups/${props.groupId}/events/${props.eventId}`)
    .then((res) => {
      event.value = res.data.data;
    })
    .catch(() => {
      router
        .push({ name: 'group', params: { groupId: props.groupId, groupName: props.groupName } })
        .then(() => {
          notify({
            group: 'default',
            type: 'error',
            title: 'Onbekend evenement'
          });
        });
    });

const onDeleteEvent = () => {
  axios.delete(`/groups/${props.groupId}/events/${props.eventId}`).then(() => {
    router
      .push({ name: 'group', params: { groupId: props.groupId, eventId: props.eventId } })
      .then(() => {
        notify({
          group: 'default',
          type: 'success',
          title: 'Evenement verwijderd',
          text: event.value.name
        });
      });
  });
};

const wishlistOf = (user_uuid) => event.value.wishlists.find((w) => w.user_uuid === user_uuid);

const showWishlistOf = (user_uuid) => {
  const wishlist = wishlistOf(user_uuid);
  if (!wishlist) return;

  axios
    .get(`/groups/${props.groupId}/events/${props.eventId}/wishlists/${wishlist.id}`)
    .then((res) => {
      selectedWishlist.value = res.data.data;
    });
};

const drawLots = () => {
  axios.post(`/groups/${props.groupId}/events/${props.eventId}/draw-lots`).then(() => {
    showDrawLotsModal.value = false;
    fetchEvent();
    notify({
      group: 'default',
      type: 'success',
      title: 'De lootjes zijn getrokken',
      text: 'Een melding is verstuurd naar alle groepsleden'
    });
  });
};

const showDrawnLot = () => {
  axios.get(`/groups/${props.groupId}/events/${props.eventId}/drawn-lot`).then((res) => {
    drawnLot.value = res.data.data;
  });
};

const onShowMyLotMessages = () => {
  showMyLotMessages.value = true;
};

const onShowDrawnLotMessages = () => {
  axios
    .get(`/groups/${props.groupId}/events/${props.eventId}/drawn-lot`)
    .then((res) => {
      const uuid = res.data.data.drawn_lot;
      const user = store.users.find((u) => u.uuid === uuid);
      drawnLotOtherParty.value = `${user.firstname} ${user.lastname}`;
    })
    .then(() => {
      showDrawnLotMessages.value = true;
    });
};

const fetchMyLotMessages = () =>
  axios
    .get(`/groups/${props.groupId}/events/${props.eventId}/messages`)
    .then((res) => res.data.data)
    .then((messages) => {
      fetchUnreadMyLotMessagesCount();
      return messages;
    });

const fetchDrawnLotMessages = () =>
  axios
    .get(`/groups/${props.groupId}/events/${props.eventId}/drawn-lot/messages`)
    .then((res) => res.data.data)
    .then((messages) => {
      fetchUnreadDrawnLotMessagesCount();
      return messages;
    });

const onSendMessageMyLot = (message) =>
  axios.post(`/groups/${props.groupId}/events/${props.eventId}/messages`, { content: message });

const onSendMessageDrawnLot = (message) =>
  axios.post(`/groups/${props.groupId}/events/${props.eventId}/drawn-lot/messages`, {
    content: message
  });

const downloadWishlist = (wishlist) => {
  axios({
    method: 'get',
    url: `/groups/${props.groupId}/events/${props.eventId}/wishlists/${wishlist.id}/export`,
    responseType: 'arraybuffer'
  })
    .then((response) => {
      const blob = new Blob([response.data]);
      const link = document.createElement('a');
      link.href = window.URL.createObjectURL(blob);
      link.download = response.headers['content-disposition']
        .split(';')[1]
        .split('=')[1]
        .replaceAll('"', '');
      link.click();
    })
    .catch(() => {
      notify({
        group: 'default',
        type: 'error',
        title: 'Het verlanglijstje kon niet worden gedownload. Probeer het later nog een keer.'
      });
    });
};

const uploadImage = (e) => {
  const file = e.target.files[0];
  if (!file) {
    notify({
      group: 'default',
      type: 'error',
      title: 'Selecteer een afbeelding'
    });
    return;
  }

  const data = new FormData();
  data.append('image', file, file.name);
  axios
    .post(`/groups/${props.groupId}/events/${props.eventId}/image`, data)
    .then((res) => {
      event.value.image_url = res.data.data.image_url;
      notify({
        group: 'default',
        type: 'success',
        title: 'Afbeelding geüploaded'
      });
    })
    .catch((err) => {
      notify({
        group: 'default',
        type: 'error',
        title: 'De afbeelding kon niet geüpload worden',
        text: err.response.data.message
      });
    });
};

const deleteImage = () => {
  axios
    .delete(`/groups/${props.groupId}/events/${props.eventId}/image`)
    .then(() => {
      notify({
        group: 'default',
        type: 'success',
        title: 'Afbeelding verwijderd'
      });
      event.value.image_url = null;
    })
    .catch((err) => {
      notify({
        group: 'default',
        type: 'error',
        title: 'De afbeelding kon niet verwijderd worden',
        text: err.response.data.message
      });
    });
};

const fetchUnreadMyLotMessagesCount = () => {
  axios
    .get(`/groups/${props.groupId}/events/${props.eventId}/messages/unread-count`)
    .then((res) => (unreadMyLotMessagesCount.value = res.data.data.count));
};

const fetchUnreadDrawnLotMessagesCount = () => {
  axios
    .get(`/groups/${props.groupId}/events/${props.eventId}/drawn-lot/messages/unread-count`)
    .then((res) => (unreadDrawnLotMessagesCount.value = res.data.data.count));
};

if (store.tokenReady) {
  fetchEvent().then(() => {
    if (event.value.drawn_at) {
      fetchUnreadMyLotMessagesCount();
      fetchUnreadDrawnLotMessagesCount();
    }
  });
}
</script>

<style lang="scss" scoped>
.wishlists {
  li {
    &:first-child {
      padding-top: 0.4rem;
    }

    padding-bottom: 0;
  }
}

.messages {
  li {
    &:first-child {
      padding-top: 0.4rem;
    }

    .notification-badge-wrapper {
      position: absolute;

      .notification-badge {
        position: relative;
        left: 0;
        top: 0;
        font-size: 0.5rem;
      }
    }
  }
}
</style>
