<template>
  <h1 class="text-center">Selecteer groep</h1>

  <div class="row">
    <div class="col">
      <router-link :to="{ name: 'addGroup' }" class="btn btn-primary">
        <i class="material-icons inline-icon pr-1">add</i>
        <span>Groep toevoegen</span>
      </router-link>
    </div>
  </div>

  <div class="row pt-3" v-if="groups">
    <template v-if="groups.length > 0">
      <div class="col-md-4 col-12 pb-4" v-for="group in groups" :key="group.id">
        <router-link
          :to="{
            name: 'group',
            params: { groupId: group.id, groupName: nameToUrl(group.name) }
          }"
        >
          <div class="card h-100">
            <img class="card-img-top" :src="groupImage(group)" alt="Group image" />
            <div class="card-body">
              <h5 class="card-title text-center">
                <span class="chocolate-letters">
                  <span v-for="(letter, index) in group.name" :key="index">{{ letter }}</span>
                </span>
              </h5>
            </div>
          </div>
        </router-link>
      </div>
    </template>
    <div class="col" v-else>
      <div class="alert alert-info text-center">
        Je zit nog niet in een groep. Maak een groep aan door op "Groep toevoegen" te klikken.
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, watch } from 'vue';

import { axios } from '../services/http';
import { useStore } from '../store';
import { nameToUrl } from '../util';

const store = useStore();

const groups = ref(null);

watch(
  () => store.tokenReady,
  (val) => {
    if (val) fetchGroups();
  }
);

const fetchGroups = () => {
  axios.get('/groups').then((res) => {
    groups.value = res.data.data;
  });
};

const groupImage = (group) => group.image_url || '/images/group-default.jpg';

if (store.tokenReady) {
  fetchGroups();
}
</script>
