<template>
  <div class="chip">
    <img :src="imageUrl" width="96" height="96" v-if="imageUrl" />
    {{ text }}
  </div>
</template>

<script setup>
defineProps({
  imageUrl: {
    type: String,
    required: false,
    default: () => null
  },
  text: {
    type: String,
    required: true
  }
});
</script>

<style scoped>
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  vertical-align: top;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
</style>
