<template>
  <div class="overlay" v-if="loadingCounter > 0">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="spinner spinner-border text-primary" role="status">
        <span class="sr-only">Loading</span>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';

import { useStore } from '../store';

const store = useStore();
const loadingCounter = computed(() => store.loadingCounter);
</script>

<style scoped>
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.spinner {
  height: 100px;
  width: 100px;
}
</style>
