<template>
  <nav class="navbar navbar-expand bg-primary navbar-lg">
    <div class="container">
      <router-link class="navbar-brand lootjestrekken-title" :to="{ name: 'home' }">
        Lootjestrekken
      </router-link>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <img
              v-if="user && user.imageURL"
              class="profile-picture pointer"
              :src="profilePicture"
              alt="profile picture"
              @click="showDropdown = !showDropdown"
            />
            <i
              v-else
              class="material-icons account-icon pointer"
              @click="showDropdown = !showDropdown"
              >person</i
            >

            <div class="dropdown-menu dropdown-menu-right" :class="{ show: showDropdown }">
              <a class="dropdown-item" :href="accountUrl" target="_blank">Account</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" :href="logoutUrl">Uitloggen</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script setup>
import { computed, ref } from 'vue';

import config from '../config';
import { useStore } from '../store';

const store = useStore();

const user = computed(() => store.user);
const profilePicture = computed(() => `${config.ssoBackendUrl}${user.value.imageURL}`);
const accountUrl = `${config.ssoUrl}/account`;
const logoutUrl = `${config.ssoUrl}/logout`;

const showDropdown = ref(false);
</script>

<style scoped lang="scss">
.navbar-lg {
  height: 4.5rem;
}

.lootjestrekken-title {
  color: white;
  font-family: 'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.profile-picture {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border: 2.5px solid white;
  object-fit: cover;
}

.account-icon {
  font-size: 2.5rem;
  color: white;
  vertical-align: middle;
}
</style>
