<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <b>Opmerking:</b>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        {{ wishlist.comment || '-' }}
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-12"><b>Artikelen</b>:</div>
    </div>

    <template v-if="wishlist.items.length === 0">
      <div class="row pt-4">
        <div class="col-12">-</div>
      </div>
    </template>

    <div class="row" v-else>
      <div class="col-12">
        <ol class="item-list">
          <li v-for="item in wishlist.items" :key="item.rank">
            <table class="item-table">
              <tr>
                <th class="pt-0">Titel:</th>
                <td>{{ item.title }}</td>
              </tr>
              <tr v-if="item.description">
                <th>Beschrijving:</th>
                <td style="white-space: pre-line">{{ item.description }}</td>
              </tr>
              <tr v-if="item.price">
                <th>Prijs:</th>
                <td>€ {{ item.price.toFixed(2).replace('.', ',') }}</td>
              </tr>
              <tr v-if="item.url">
                <th>URL:</th>
                <td class="text-break">
                  <a :href="item.url" target="_blank">{{ item.url }}</a>
                </td>
              </tr>
            </table>
          </li>
        </ol>
      </div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  wishlist: {
    type: Object,
    required: true
  }
});
</script>

<style lang="scss" scoped>
.item-list {
  margin-bottom: 0;

  li {
    padding-bottom: 15px;
    padding-left: 5px;

    .item-table {
      display: inline-block;
      vertical-align: top;

      th {
        padding-right: 10px;
        vertical-align: top;
      }
    }
  }
}
</style>
