<template>
  <div id="main" class="d-flex flex-column">
    <NavHeader></NavHeader>
    <div class="background-container flex-fill">
      <div class="container">
        <div class="pt-4">
          <router-view></router-view>
        </div>
      </div>
    </div>
    <loading-state></loading-state>
    <notifications group="default" animation-name="v-fade-right"></notifications>
  </div>
</template>

<script setup>
import { onMounted } from 'vue';

import LoadingState from './components/LoadingState.vue';
import NavHeader from './components/NavHeader.vue';

onMounted(() => {
  // Required for correct height of modals on Safari iOS
  const appHeight = () => {
    const doc = document.documentElement;
    doc.style.setProperty('--app-height', `${window.innerHeight}px`);
  };
  window.addEventListener('resize', appHeight);
  appHeight();
});
</script>

<style lang="scss">
@import 'scss/app.scss';

#main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.background-container {
  background-image: url('/images/sinterklaas-achtergrond.jpg');
}

.vue-notification {
  margin: 0.5rem 0.5rem 0 0 !important;

  .notification-title {
    font-weight: $font-weight-base;
    font-size: $font-size-sm;
  }
}

.v-fade-right-enter-active,
.v-fade-right-leave-active .v-fade-right-move {
  transition: all 0.5s;
}
.v-fade-right-enter,
.v-fade-right-leave-to {
  opacity: 0;
  transform: translateX(300px);
}
</style>
