.chocolate-letters {
  span:nth-child(2n + 1) {
    color: #46281d;
  }

  span:nth-child(2n) {
    color: #ae7562;
  }
}

.inline-icon {
  vertical-align: bottom;
}

.pointer {
  cursor: pointer;
}

.action-section {
  background-color: #f1f1f1;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: 1px solid $primary;

  li {
    list-style: none;

    &:not(:last-child) {
      padding-bottom: 0.4rem;
    }
  }
}

.x-modal-open {
  overflow: hidden;
}
