<template>
  <form @submit.prevent="onSubmit">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Evenementnaam</label>
      <div class="col-sm-10">
        <input
          id="name"
          v-model="event.name"
          type="text"
          class="form-control"
          :class="{ 'is-invalid': errors.name }"
        />
        <div class="invalid-feedback">Vul een naam in.</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Beschrijving</label>
      <div class="col-sm-10">
        <input id="description" v-model="event.description" type="text" class="form-control" />
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Opslaan</button>
  </form>
</template>

<script setup>
import { cloneDeep } from 'lodash';
import { ref, watch } from 'vue';

const props = defineProps({
  _event: {
    type: Object,
    required: false,
    default: () => null
  }
});

const emit = defineEmits(['submit']);

const event = ref({
  name: '',
  description: ''
});

const errors = ref({
  name: false
});

watch(
  () => props._event,
  (val) => copyEvent(val)
);

const onSubmit = () => {
  if (!validate()) return;

  emit('submit', {
    name: event.value.name,
    description: event.value.description || null
  });
};

const validate = () => {
  resetErrors();

  if (!event.value.name) {
    errors.value.name = true;
  }

  return !Object.values(event.value).includes(true);
};

const resetErrors = () => {
  errors.value = {
    name: false
  };
};

const copyEvent = (_event) => {
  const e = cloneDeep(_event);
  event.value = {
    name: e.name,
    description: e.description
  };
};

if (props._event) {
  copyEvent(props._event);
}
</script>
