<template>
  <form @submit.prevent="onSubmit">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Groepsnaam</label>
      <div class="col-sm-10">
        <input
          id="name"
          v-model="group.name"
          type="text"
          class="form-control"
          :class="{ 'is-invalid': errors.name }"
        />
        <div class="invalid-feedback">Vul een naam in.</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="members" class="col-sm-2 col-form-label">Leden</label>
      <div class="col-sm-10">
        <vue-multiselect
          id="members"
          :class="{ 'is-invalid': errors.members }"
          v-model="group.members"
          :options="memberOptions"
          multiple
          :close-on-select="false"
          :clear-on-select="false"
          label="text"
          track-by="user_uuid"
        ></vue-multiselect>
        <div class="invalid-feedback">Selecteer tenminste één lid.</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="admins" class="col-sm-2 col-form-label">Beheerders</label>
      <div class="col-sm-10">
        <vue-multiselect
          id="admins"
          :class="{ 'is-invalid': errors.admins }"
          :options="group.members"
          v-model="admins"
          multiple
          :close-on-select="false"
          :clear-on-select="false"
          label="text"
          track-by="user_uuid"
          @select="(m) => (m.is_admin = true)"
          @remove="(m) => (m.is_admin = false)"
        ></vue-multiselect>
        <div class="invalid-feedback">Selecteer tenminste één beheerder.</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Opslaan</button>
  </form>
</template>

<script setup>
import { cloneDeep } from 'lodash';
import { computed, ref, watch } from 'vue';
import VueMultiselect from 'vue-multiselect';

import { useStore } from '../../store';

const props = defineProps({
  _group: {
    type: Object,
    required: false,
    default: () => null
  }
});

const emit = defineEmits(['submit']);

const store = useStore();

const memberOptions = computed(() =>
  store.users.map((u) => ({
    text: `${u.firstname} ${u.lastname}`,
    user_uuid: u.uuid,
    is_admin: false
  }))
);

const group = ref({
  name: '',
  members: []
});

// Needed for internal use of vue-multiselect.
const admins = ref([]);

const errors = ref({
  name: false,
  members: false,
  admins: false
});

watch(
  () => props._group,
  (val) => copyGroup(val)
);

const onSubmit = () => {
  if (!validate()) {
    return;
  }

  emit('submit', {
    ...group.value,
    members: group.value.members.map((m) => ({
      user_uuid: m.user_uuid,
      is_admin: m.is_admin
    }))
  });
};

const validate = () => {
  resetErrors();

  if (!group.value.name) {
    errors.value.name = true;
  }

  if (group.value.members.length < 1) {
    errors.value.members = true;
  }

  if (group.value.members.filter((m) => m.is_admin).length < 1) {
    errors.value.admins = true;
  }

  return !Object.values(errors.value).includes(true);
};

const resetErrors = () => {
  errors.value = {
    name: false,
    members: false,
    admins: false
  };
};

const copyGroup = (_group) => {
  const g = cloneDeep(_group);
  group.value = {
    name: g.name,
    members: g.members.map((m) => ({
      ...memberOptions.value.find((u) => m.user_uuid === u.user_uuid),
      is_admin: m.is_admin
    }))
  };
  admins.value = group.value.members.filter((m) => m.is_admin);
};

if (props._group) {
  copyGroup(props._group);
}
</script>
