<template>
  <form @submit.prevent="onSubmit">
    <div class="form-group row">
      <label for="comment" class="col-sm-2 col-form-label">Opmerking</label>
      <div class="col-sm-10">
        <textarea id="comment" v-model="wishlist.comment" class="form-control" rows="3"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label for="items" class="col-sm-2 col-form-label">Artikelen</label>
      <div class="col-sm-10">
        <div class="list-group">
          <draggable id="items" v-model="wishlist.items" handle=".handle" item-key="rank">
            <template #item="{ element, index }">
              <div class="list-group-item d-flex gap-1">
                <i class="material-icons inline-icon pr-1 text-primary pointer handle flex-shrink-0"
                  >drag_handle</i
                >
                <span class="flex-grow-1">{{ element.title }}</span>
                <span class="flex-shrink-0">
                  <i
                    class="material-icons inline-icon mr-2 text-primary pointer"
                    @click="onEditItemClick(element, index)"
                    >edit</i
                  >
                  <i
                    class="material-icons inline-icon text-primary pointer"
                    @click="deleteItem(index)"
                    >delete</i
                  >
                </span>
              </div>
            </template>
          </draggable>
          <div class="list-group-item mt-2">
            <template v-if="showItemForm">
              <wishlist-item-form
                :_item="selectedItem"
                @cancel="onCancelItem"
                @submit="onSaveItem"
              ></wishlist-item-form>
            </template>
            <div class="pointer" v-else @click="showItemForm = true">
              <i class="material-icons inline-icon pr-1">add</i>
              <span>Artikel toevoegen</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Opslaan</button>
  </form>
</template>

<script setup>
import { cloneDeep } from 'lodash';
import { ref, watch } from 'vue';
import draggable from 'vuedraggable';

import WishlistItemForm from './WishlistItemForm.vue';

const props = defineProps({
  _wishlist: {
    type: Object,
    required: false,
    default: () => null
  }
});

const emit = defineEmits(['submit']);

const wishlist = ref({
  comment: '',
  items: []
});

const showItemForm = ref(false);

const selectedItem = ref(null);

const selectedIndex = ref(null);

watch(
  () => props._wishlist,
  (val) => {
    if (val) {
      copyWishlist(val);
    }
  }
);

const onSubmit = () => {
  emit('submit', {
    comment: wishlist.value.comment || null,
    items: wishlist.value.items.map((item, index) => ({
      ...item,
      rank: index + 1
    }))
  });
};

const copyWishlist = (_wishlist) => {
  const w = cloneDeep(_wishlist);
  wishlist.value = {
    comment: w.comment,
    items: w.items
  };
};

const onCancelItem = () => {
  showItemForm.value = false;
  selectedItem.value = null;
  selectedIndex.value = null;
};

const onSaveItem = (item) => {
  if (selectedIndex.value !== null) {
    wishlist.value.items[selectedIndex.value] = item;
  } else {
    wishlist.value.items.push({
      ...item,
      rank: wishlist.value.items.length + 1
    });
  }
  onCancelItem();
};

const deleteItem = (index) => {
  wishlist.value.items.splice(index, 1);
};

const onEditItemClick = (item, index) => {
  selectedItem.value = item;
  selectedIndex.value = index;
  showItemForm.value = true;
};

if (props._wishlist) {
  copyWishlist(props._wishlist);
}
</script>

<style scoped>
.gap-1 {
  gap: 0.25rem;
}
</style>
