<template>
  <template v-if="!_item">
    <div class="form-group row">
      <label for="import-url" class="col-sm-2 col-form-label">Importeer artikel</label>
      <div class="col-sm-10">
        <div class="form-row">
          <div class="col">
            <input
              id="import-url"
              v-model="url"
              type="url"
              class="form-control"
              placeholder="URL"
            />
          </div>
        </div>

        <div class="form-row pt-2">
          <div class="col-md col-sm-12 pb-md-0 pb-2">
            <button
              class="btn btn-block btn-bol"
              :disabled="!isBolUrl"
              @click.prevent="importFromBol"
            >
              Importeren van bol.com
            </button>
          </div>
          <div class="col-md col-sm-12 pb-md-0 pb-2">
            <button
              class="btn btn-block btn-amazon"
              :disabled="!isAmazonUrl"
              @click.prevent="importFromAmazon"
            >
              Importeren van Amazon.nl
            </button>
          </div>
          <div class="col-md col-sm-12 pb-md-0 pb-2">
            <button class="btn btn-block btn-ah" :disabled="!isAHUrl" @click.prevent="importFromAH">
              Importeren van ah.nl
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="line-with-text">
      <span>of</span>
    </div>
  </template>
  <form @submit.prevent="onSubmit">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Titel</label>
      <div class="col-sm-10">
        <input
          id="title"
          v-model="item.title"
          type="text"
          class="form-control"
          :class="{ 'is-invalid': errors.title }"
        />
        <div class="invalid-feedback">Vul een titel in.</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Beschrijving</label>
      <div class="col-sm-10">
        <textarea
          id="description"
          v-model="item.description"
          class="form-control"
          rows="3"
        ></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">Prijs</label>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">€</span>
          </div>
          <input
            id="price"
            v-model="item.price"
            type="number"
            min="0"
            step="0.01"
            class="form-control"
          />
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="url" class="col-sm-2 col-form-label">URL</label>
      <div class="col-sm-10">
        <input id="url" v-model="item.url" type="url" class="form-control" />
      </div>
    </div>

    <div class="btn btn-outline-primary" @click="onCancel">Wijzigingen verwijderen</div>
    <button type="submit" class="btn btn-primary float-right">
      {{ _item ? 'Wijzigen' : 'Toevoegen' }}
    </button>
  </form>
</template>

<script setup>
import { useNotification } from '@kyvg/vue3-notification';
import { cloneDeep } from 'lodash';
import { computed, ref, watch } from 'vue';

import { axios } from '../../services/http';

const props = defineProps({
  _item: {
    type: Object,
    required: false,
    default: () => null
  }
});

const emit = defineEmits(['cancel', 'submit']);

const { notify } = useNotification();

const item = ref({
  title: '',
  description: null,
  price: null,
  url: null
});

const errors = ref({
  title: false
});

const url = ref('');

const urlStartsWith = (domain) =>
  url.value
    .trim()
    .replace(/^(http:\/\/|https:\/\/)/, '')
    .replace(/^(www\.)/, '')
    .startsWith(domain);

const isBolUrl = computed(() => urlStartsWith('bol.com'));
const isAmazonUrl = computed(() => urlStartsWith('amazon.nl'));
const isAHUrl = computed(() => urlStartsWith('ah.nl'));

watch(
  () => props._item,
  () => copyItem(props._item)
);

const onCancel = () => {
  emit('cancel');
};

const onSubmit = () => {
  if (!validate()) return;
  emit('submit', {
    title: item.value.title,
    description: item.value.description || null,
    price: item.value.price || null,
    url: item.value.url || null
  });
};

const validate = () => {
  resetErrors();

  if (!item.value.title) {
    errors.value.title = true;
  }

  return !Object.values(errors.value).includes(true);
};

const resetErrors = () => {
  errors.value = {
    title: false
  };
};

const copyItem = (_item) => {
  item.value = cloneDeep(_item);
};

const importFromBol = () => {
  importFrom('bol.com');
};

const importFromAmazon = () => {
  importFrom('amazon.nl');
};

const importFromAH = () => {
  importFrom('ah.nl');
};

const importFrom = (domain) => {
  axios
    .get(`/item-importer/${domain}/${url.value}`)
    .then((res) => {
      url.value = '';
      item.value = res.data.data;
      notify({
        group: 'default',
        type: 'success',
        title: `Artikel geïmporteerd van ${domain}`,
        text: item.value.title
      });
    })
    .catch(() => {
      notify({
        group: 'default',
        type: 'error',
        title: 'Het artikel kon niet geïmporteerd worden',
        text: 'Probeer het later nog een keer'
      });
    });
};

if (props._item) {
  copyItem(props._item);
}
</script>

<style lang="scss" scoped>
.btn-bol {
  background-color: #0000a4;
  color: white;
}

.btn-amazon {
  background-color: #febd69;
  color: #0f1111;
}

.btn-ah {
  background-color: #00ade6;
  color: white;
}

.line-with-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0.1rem;
  margin: 30px 0 30px;

  span {
    background-color: #fff;
    padding: 0 10px;
  }
}
</style>
